name: rick_and_morty_chars
description: A Flutter app to display Rick and Morty characters.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # Used for making HTTP requests to the API
  http: ^1.2.0
  # Standard Flutter icons
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true